{% extends "wordcount/base.html" %}
{% block content %}
<a class="btn btn-secondary mt-3 ml-3 mb-3" href="{% url 'theabout' %}">About Us</a>
    <form action="{% url 'thecount' %}">
        <div class="form-group">
            <label class="ml-3 " for="wordarea">Word Count</label>
            <textarea class="form-control ml-3" name="fulltext" id="wordarea" rows="10"></textarea>
            <button type="submit" class="btn btn-primary mt-3 ml-3">Count</button>
        </div>
    </form>
{% endblock content %}
